{% extends 'base.html' %}
{% block content %}
<h5 class="mb-0">Edit Profile{% if admin_mode %} for {{ user_obj.username }}{% endif %}</h5>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
      <tr>
        <td><label class="form-label">First Name</label></td>
        <td>{{ form.first_name }}</td>
      </tr>
      <tr>
        <td><label class="form-label">Last Name</label></td>
        <td>{{ form.last_name }}</td>
      </tr>
      <tr>
        <td><label class="form-label">Email</label></td>
        <td>{{ form.email }}</td>
      </tr>
      <tr><label class="fo"</tr>
      <tr>
        <td><label class="form-label">Age</label></td>
        <td>{{ form.age }}</td>
      </tr>
      <tr>
        <td><label class="form-label">Gender</label></td>
        <td>{{ form.gender }}</td>
      </tr>
      <tr>
        <td><label class="form-label">Date of Birth</label></td>
        <td>{{ form.dob }}</td>
      </tr>
      <tr>
        <td><label class="form-label">Profile Picture</label></td>
        <td>{{ form.picture }}</td>
      </tr>
      <tr>
          <td colspan="2">
              <a class="btn btn-secondary" href="{% if admin_mode %}{% url 'user_edit' user_obj.id %}{% else %}{% url 'profile_view' %}{% endif %}">Cancel</a>
              <button type="submit" class="btn btn-primary">Save</button>
          </td>
      </tr>
    </table>
</form>
{% endblock %}
