{% extends 'base.html' %}
{% block content %}
<h4>Blog Registration</h4>
<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <br>
    <button type="button" class="btn btn-primary">Check Connection</button>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
<hr>
<h5>Registered Blogs</h5>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th><th>URL</th><th>Username</th><th>API Key</th><th>Category</th><th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for blog in blogs %}
        <tr>
            <td>{{ blog.name }}</td>
            <td>{{ blog.url }}</td>
            <td>{{ blog.username }}</td>
            <td>{{ blog.apikey }}</td>
            <td>{{ blog.category|join:", " }}</td>
            <td>
                <a href="{% url 'blog_delete' blog.id %}" class="btn btn-sm btn-danger text-white" style="text-decoration: none;">Delete</a>
                <a href="{% url 'blog_edit' blog.id %}" class="btn btn-sm btn-primary text-white" style="text-decoration: none;">Edit</a>
                <a href="{% url 'blog_view' blog.id %}" class="btn btn-sm btn-secondary text-white" style="text-decoration: none;">View</a>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}